amqp==2.3.2
atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.6.3
billiard==3.5.0.5
celery==4.2.1
certifi==2018.11.29
chardet==3.0.4
coverage==4.5.2
Django==2.1.4
idna==2.8
image==1.5.27
kombu==4.2.2.post1
more-itertools==4.3.0
Pillow==5.3.0
pluggy==0.8.0
py==1.7.0
PySocks==1.6.8
pytest==4.0.2
pytz==2018.7
requests==2.21.0
selenium==3.141.0
six==1.12.0
urllib3==1.24.1
vine==1.1.4
